<p>Bonjour
	{{ user.username }},</p>
<p>Pour activer votre demande de réinitialisation de mot de passe , veuillez cliquer le lien ci-dessous</p>
<p>
	<!-- absolute_url permet d'afficher l'url complet -->
	<a href="{{ url|raw }}">{{ url|raw }}</a>
</p>


<p>Merci</p>
